* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	border:2px solid ;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.content {
	border-radius: 15px;
	width: 0%;
	height: 0%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content::before {
	content: "";
	position: absolute;
	background-color:rgb(253,228,199,1);
	width: 40%;
	height: 100%;
}
.title {
	color: black;
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}
.title-second {
	color: black;
}
.title-welcome {
	color: black;
}
.description {
	font-size: 14px;
	font-weight: 300;
	color: black;
	line-height: 30px;
}
.btn {
	background-color: rgb(253,228,199,1);
	border-radius: 15px;
	text-transform: uppercase;
	color:black;
	font-size: 10px;
	padding: 10px ;
	cursor: pointer;
	width: 150px;
	align-self: center;
	border-width: 0;
}
.btn-primary {
	background-color:white;
}

.first-content {
	display: flex;
}
.first-column {
	text-align: center;
	flex:1 0 auto;
	z-index: 10;
}
.second-column {
	flex: 2 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form{
	display: flex;
	flex-direction: column;
	width: 55%;
}
.form input {
	height: 45px;
	background-color: white;
	margin: 8px;
	border-color: rgb(253,228,199,1);
	border-width: 5px;
	border-radius: 12px;
}
.second-content {
	position: absolute;
	display: none;
}