<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site criado para facilitar a comunicação entre cliente e petshop">
    <link rel="stylesheet" href="estilo.css">
	<title></title>
</head>
<body>
	<div class="container">
		<div class="content first-content"></div>
			<div class="first-column">
				<img src="imagens/fundo2.png">
				<h2 style="font-family: Bahnschrift SemiCondensed; font-size: 47px" class="title title-welcome">PETSHOP</h2>
				<p style="font-family: Bahnschrift SemiCondensed; font-size: 15px; " class="description">Facilitando a sua vida e melhorando a deles</p>
				<button class="btn btn-primary">Register</button>
				<h1 style="margin-top: 10px; font-family: Bahnschrift SemiCondensed ">AQUI TEM TUDO</h1>
				<h3 style="font-family:Bahnschrift Light ">O que seu pet precisa</h3>
				<img style="width: 200px; height: 180px; position: absolute; right: 830px" src="imagens/patas.png">
			</div>

			<div class="second-column">
				<h2 style="font-family: Bahnschrift SemiCondensed; font-size: 50px;" class="title title-second">LOGIN</h2>
				<div></div>
				<form class="form">
					<label style="text-align:left; font-family: arial">Nome</label>
					<input type="text">
					<label style="text-align: left; font-family: arial">Senha</label>
					<input type="password">
					<button class="btn btn-second">Sign In</button>
				</form>
			</div>

		<div class="content second-content"></div>












		
	</div>
</body>
</html>